---
import type { GetStaticPaths } from "astro";
import { getCollection, getEntry } from "astro:content";
export const getStaticPaths = async () => {
  const allPeople = await getCollection("people");
  return allPeople.map((item) => ({
    params: { slug: item.id },
  }));
};
---

<h1>Person</h1>
