---
import type { GetStaticPaths } from "astro";
import { getCollection, getEntry } from "astro:content";
export const getStaticPaths = async () => {
  const allPeople = await getCollection("people");
  return allPeople.map((item) => ({
    params: { slug: item.id },
  }));
};
const slug = Astro.params.slug;
const entry = await getEntry("people", slug);
---

<h1>Person</h1>
<code>
  {JSON.stringify(entry)}
</code>
