---
import { getCollection } from "astro:content";

const people = await getCollection("people");
---

<h1>People</h1>
{
  people.map((person) => {
    return <a href={"/" + person.id + "/"}>{person.data.name}</a>;
  })
}
