---
import Layout from "../layouts/Layout.astro";
import AboutContent from "../content/other/about-top.md";
import BottomLeftContent from "../content/other/about-bottom-l.md";
import BottomRightContent from "../content/other/about-bottom-r.md";
---

<Layout pageTitle="About">
  <div class="about-page">
    <h1 class="big-header">About</h1>
    <div class="top-section">
      <AboutContent />
    </div>
    <div class="col-container">
      <div class="col"><BottomLeftContent /></div>
      <div class="col"><BottomRightContent /></div>
    </div>
  </div>
</Layout>
<style is:global>
  .about-page h3,
  .about-page h2 {
    font-family: "Sligoil", serif;
    font-weight: 400;
  }

  .about-page h2 {
    position: relative;
    text-decoration: inherit;
    margin-top: 4rem;
    margin-bottom: 2rem;
  }

  .about-page p {
    font-family: "aktiv-grotesk", sans-serif;
    font-weight: 400;
    font-size: 1.25rem;
  }
  .about-page h2::before {
    content: " *";
    position: absolute;
    left: -0.75em;
    text-decoration: inherit;
    color: red;
  }

  .about-page h3 {
    margin-bottom: 1rem;
    margin-top: 2rem;
    color: var(--color-accent-a);
  }
  .about-page li {
    font-family: "aktiv-grotesk", sans-serif;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.25;
    margin-bottom: 0.5rem;
  }

  .about-page {
    width: 100%;
    max-width: 1300px;
    margin-bottom: 4rem;
    padding: 0 2rem;
  }
  .top-section {
    max-width: 600px;
  }

  .col-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(600px, 100%), 1fr));
    gap: 0rem 2rem;
  }

  .about-page .larger-text {
    font-size: 1.5rem;
  }
</style>
