---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import { getCollection, getEntry } from "astro:content";
const allPeople = await getCollection("people");
import PeopleMarquee from "../components/PeopleMarquee.astro";
import ProjectLister from "../components/ProjectLister.astro";
---

<Layout pageTitle="Home">
  <PeopleMarquee />
  <section class="welcome">
    <div class="title-box">
      <h1 class="welcome-title">
        <span class="star-after"> Design </span>
        <span class="second-line">
          Show<span class="narrow-space">{" "}</span><span class="welcome-year"
            >2025</span
          >
        </span>
      </h1>
    </div>
  </section>
  <PeopleMarquee reverse />
  <h2>Projects</h2>
  <ProjectLister />
</Layout>

<style>
  .welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 75vh;
  }
  .welcome-title {
    font-family: "Sligoil", serif;
    font-size: clamp(70px, 10vw, 200px);
    font-weight: 400;
    display: flex;
    flex-direction: column;
  }
  .second-line {
    display: inline-block;
  }
  .narrow-space {
    display: inline-block;
    width: 0.35em;
  }
  .welcome-year {
    font-weight: 400;
    font-size: 0.65em;
    letter-spacing: -1%;
  }
</style>
