---
import Welcome from "../components/Welcome.astro";
import Layout from "../layouts/Layout.astro";
import { getCollection, getEntry } from "astro:content";
const allPeople = await getCollection("people");
const allProjects = await getCollection("projects");

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <h2>People</h2>
  <p>{JSON.stringify(allPeople)}</p>
  <h2>Projects</h2>
  {JSON.stringify(allProjects)}
</Layout>
