---
import { Image } from "astro:assets";
import Welcome from "../components/Welcome.astro";
import Layout from "../layouts/Layout.astro";
import { getCollection, getEntry } from "astro:content";
const allPeople = await getCollection("people");

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <section class="welcome">
    <div class="title-box">
      <h1 class="welcome-title">
        <span class="star-after"> Design </span>
        <span class="second-line">
          Show<span class="narrow-space">{" "}</span><span class="welcome-year"
            >2025</span
          >
        </span>
      </h1>
    </div>
  </section>
</Layout>

<style>
  .welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 85vh;
  }
  .welcome-title {
    font-size: 85px;
    font-weight: 400;
    display: flex;
    flex-direction: column;
  }
  .second-line {
    display: inline-block;
  }
  .star-after {
    position: relative;
    display: inline-block;
    padding-right: 0.5em;
  }
  .narrow-space {
    display: inline-block;
    width: 0.35em;
  }
  .star-after::after {
    content: "* ";
    position: absolute;
    right: 0;
  }
  .welcome-year {
    font-weight: 400;
    font-size: 55px;
    letter-spacing: -1%;
  }
</style>
