---
import { Image } from "astro:assets";
import Welcome from "../components/Welcome.astro";
import Layout from "../layouts/Layout.astro";
import { getCollection, getEntry } from "astro:content";
const allPeople = await getCollection("people");

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <section class="welcome">
    <h1 class="welcome-title">
      <span class="star-after"> Design </span> Show <span class="welcome-year"
        >2025</span
      >
    </h1>
  </section>
</Layout>

<style>
  .welcome {
  }
  .welcome-title {
    font-size: 85px;
  }
  .star-after{
    position: relative;
    margin-right: .5em;
  }
  .star-after::after{
    content: "* ";
    position:absolute;
    right:0;
    
 
</style>
