---
const { images } = Astro.props;
import { Image } from "astro:assets";
---

<div class="gallery">
  {
    images.map((image) => {
      return (
        <Image
          src={image.src}
          alt={image.alt}
          class:list={["gallery-image", `gallery-image-${image.size ?? "2"}`]}
        />
      );
    })
  }
</div>

<style>
  .gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    position: relative;
  }
  .gallery-image {
    height: auto;
  }
  .gallery-image-1 {
    width: 400px;
  }
  .gallery-image-2 {
    width: 800px;
  }
</style>
