---
interface Props {
  images: {
    src: any;
    alt: string;
    size?: "1" | "2";
  }[];
}
const { images } = Astro.props;
import { Image } from "astro:assets";
---

<div class="gallery">
  {
    images.map((image) => {
      return (
        <Image
          src={image.src}
          alt={image.alt}
          class:list={["gallery-image", `gallery-image-${image.size ?? "2"}`]}
        />
      );
    })
  }
</div>

<style>
  .gallery {
    display: grid;
    gap: 2rem;
    position: relative;
  }
  .gallery-image {
    height: auto;
  }
  @media (min-width: 1200px) {
    .gallery {
      grid-template-columns: 1fr 1fr;
    }
    .gallery-image-1 {
      grid-column: span 1;
    }
    .gallery-image-2 {
      grid-column: span 2;
    }
  }
</style>
