---
import { getCollection } from "astro:content";
import { Image } from "astro:assets";

const people = await getCollection("people");
---

<h1>People</h1>
<div class="people-list">
  {
    people.map((person) => {
      return (
        <a class="people-card" href={"/people/" + person.id + "/"}>
          <Image
            class="people-card-image"
            src={person.data.headshot}
            alt={""}
            width={330}
          />
          <Image
            class="people-card-image-alt"
            src={person.data.headshotAlt}
            alt={""}
            width={330}
          />
          <p class="people-card-name star-after">{person.data.name}</p>
        </a>
      );
    })
  }
</div>

<style>
  .people-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
  }

  .people-card {
    flex-basis: 330px;
    flex-grow: 0;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    position: relative;
  }
  .people-card-image,
  .people-card-image-alt {
    width: auto;
    height: auto;
  }
  .people-card-image-alt {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }
  .people-card:hover .people-card-image-alt,
  .people-card:focus-visible .people-card-image-alt {
    opacity: 1;
  }
  .people-card-name {
    font-family: "Sligoil", serif;
    text-decoration: none;
    text-align: center;
    font-size: 1.5rem;
    display: inline;
    align-self: center;
  }
</style>
