---
import { getCollection } from "astro:content";
import { Image } from "astro:assets";

const people = await getCollection("people");
const peopleSorted = people.sort((a, b) => {
  const aLast = a.data.name.split(" ").pop() || "";
  const bLast = b.data.name.split(" ").pop() || "";
  return aLast > bLast ? 1 : -1;
});
---

<div class="people-list">
  {
    peopleSorted.map((person) => {
      return (
        <a class="people-card" href={"/designers/" + person.id + "/"}>
          <Image
            class="people-card-image"
            src={person.data.headshot}
            alt={""}
            width={450}
            transition:name={`photo-${person.id}`}
          />
          <Image
            class="people-card-image-alt"
            src={person.data.headshotAlt}
            alt={""}
            width={600}
          />
          <p class="people-card-name star-after">{person.data.name}</p>
        </a>
      );
    })
  }
</div>

<style>
  .people-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 4rem;
    max-width: var(--size-page-width);
    padding: 4rem;
    width: 100%;
  }

  .people-card {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    position: relative;
    /* background-color: var(--color-background-transparent); */
  }
  .people-card-image,
  .people-card-image-alt {
    width: 100%;
    height: auto;
  }
  .people-card-image-alt {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }
  .people-card:hover .people-card-image-alt,
  .people-card:focus-visible .people-card-image-alt {
    opacity: 1;
  }

  .people-card:hover .people-card-name,
  .people-card:focus-visible .people-card-name {
    color: var(--color-accent-c);
  }
  .people-card-name {
    font-family: "Sligoil", serif;
    text-decoration: none;
    text-align: center;
    font-size: 1.5rem;
    display: inline;
    align-self: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  @media screen and (min-width: 700px) {
    .people-list {
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      padding: 4rem;
    }
  }
</style>
