---
import { getCollection, getEntry, render } from "astro:content";
import slugify from "../../helpers/slugify";
export const getStaticPaths = async () => {
  const allPeople = await getCollection("people");
  return allPeople.map((item) => ({
    params: { slug: slugify(item.data.title) },
  }));
};
const projectSlug = Astro.params.slug;
const collection = await getCollection("people");
const entry = collection.find(
  (item) => slugify(item.data.title) === projectSlug
);
if (!entry) {
  throw new Error(`Project not found for slug: ${projectSlug}`);
}
const { Content } = await render(entry);
---

<!-- not sure why this is needed here --><!-- TODO: investigate this and see if it can be placed somewhere more global -->
<meta charset="utf-8" />

<h1>Project</h1>

<code>
  {JSON.stringify(entry)}
</code>

<Content />
