---
import { getCollection } from "astro:content";
import slugify from "../../helpers/slugify";

const people = await getCollection("people");
---

<h1>Projects</h1>
{
  people.map((person) => {
    return (
      <a href={"/projects/" + slugify(person.data.title) + "/"}>
        {person.data.title}
      </a>
    );
  })
}
