---
import { getCollection } from "astro:content";
import slugify from "../../helpers/slugify";
import ProjectLister from "../../components/ProjectLister.astro";
const people = await getCollection("people");
import Layout from "../../layouts/Layout.astro";
---

<Layout pageTitle="Projects">
  <h2 class="big-header star-after">Projects</h2>
  <ProjectLister />
</Layout>
