---
import { getCollection } from "astro:content";
import slugify from "../../helpers/slugify";
import ProjectLister from "../../components/ProjectLister.astro";
const people = await getCollection("people");
import Layout from "../../layouts/Layout.astro";
---

<Layout>
  <h1>Projects</h1>
  <ProjectLister />
</Layout>
