---
import { Image } from "astro:assets";
import footerImg from "../assets/footer-img.png";
---

<footer>
  <nav class="footer-nav">
    <div class="nav-left"><a href="/">SUNY New Paltz Design Show* 2025</a></div>
    <div class="nav-right">
      <a href="/about">About</a><a href="/people">Designers</a><a
        href="https://instagram.com/npzdesign">Instagram</a
      ><a href=""></a>
    </div>
  </nav>
  <Image src={footerImg} alt="" widths={[400, 800, 1600]} />
  <style>
    .footer-nav {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 2rem;
    }
    .nav-right {
      display: flex;
      gap: 1rem;
    }
  </style>
</footer>
