---
import { Image } from "astro:assets";
import footerImg from "../assets/footer.svg";
import BookLink from "../components/BookLink.astro";
---

<footer>
  <nav class="footer-nav">
    <div class="nav-left">
      <a href="/" class="rev-alternating-link"
        >SUNY New Paltz<br />Design <span class="star-after">Show</span> 2025</a
      >
    </div>
    <div class="nav-right">
      <a class="star-after alternating-link" href="/designers">Designers</a>
      <a class="star-after alternating-link" href="/about">About</a><a
        class="star-after alternating-link"
        href="https://instagram.com/npzdesign">Instagram</a
      >
    </div>
  </nav>
  <div class="footer-img-container">
    <Image
      class={"footer-img"}
      src={footerImg}
      alt=""
      widths={[400, 800, 1600]}
    />
    <!-- <BookLink /> -->
  </div>

  <style>
    footer {
      border-top: 1px solid var(--color-accent-a);
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .footer-nav {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 2rem;
      padding: 2rem 0rem;
      text-align: center;
      width: 100%;
      max-width: calc(var(--size-page-width) + 2 * var(--size-page-margin));
      padding: var(--size-page-margin);
    }
    .nav-right {
      display: flex;
      gap: 1rem;
    }

    .footer-nav a {
      font-size: clamp(1.125rem, 2vw, 1.5rem);
      text-decoration: none;
      font-family: "Sligoil", serif;
    }

    .footer-img {
      max-height: 300px;
      object-fit: cover;
    }

    .footer-img-container {
      position: relative;
    }

    @media screen and (min-width: 620px) {
      .footer-nav {
        flex-direction: row;
        justify-content: space-between;
      }
      .nav-left {
        text-align: left;
      }
      .nav-right {
        text-align: right;
      }
    }
  </style>
</footer>
