---
interface Props {
  pageTitle: string;
}
const { props } = Astro;

import "@acab/reset.css";
import Nav from "../sections/Nav.astro";
import Footer from "../sections/Footer.astro";
import bgRibbon from "../assets/pagebg.svg";
import { ClientRouter } from "astro:transitions";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{props.pageTitle || ""} | SUNY New Paltz Design Show 2025</title>
    <link rel="stylesheet" href="https://use.typekit.net/jhu1ufw.css" />
    <ClientRouter />
  </head><body>
    <Nav />
    <main>
      <slot />
      <img class="bg-img" src={bgRibbon.src} alt="" />
    </main>
    <Footer />
  </body>
</html>
<style is:global>
  @font-face {
    font-family: "Sligoil";
    src:
      url("/fonts/sligoil/Sligoil-Micro.woff2") format("woff2"),
      url("/fonts/sligoil/Sligoil-Micro.woff") format("woff");
  }

  @font-face {
    font-family: "Compagnon";
    src:
      url("/fonts/compagnon/Compagnon-Roman.woff2") format("woff2"),
      url("/fonts/compagnon/Compagnon-Roman.woff") format("woff");
  }

  :root {
    --color-background: #100d24;
    --color-background-transparent: #100d2485;
    --color-accent-a: #c1fd00;
    --color-accent-b: #58bbad;
    --color-accent-c: #ff2330;
    --size-page-width: 1300px;
    --size-page-margin: 2rem;
  }
  p {
    font-family: "aktiv-grotesk", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  * {
  }
  html {
    font-size: 16px;
    background-color: var(--color-background);
    color: white;
  }

  .big-header {
    font-size: 4rem;
    font-family: "Sligoil", serif;
    font-weight: 400;
  }
  .star-after {
    position: relative;
    display: inline-block;
    padding-right: 0.5em;
    text-decoration: inherit;
  }

  .star-after::after {
    content: "* ";
    position: absolute;
    right: 0;
    text-decoration: inherit;
  }

  .star-before {
    position: relative;
    display: inline-block;
    padding-left: 0.5em;
    text-decoration: inherit;
  }

  .star-before::before {
    content: " *";
    position: absolute;
    left: 0;
    text-decoration: inherit;
  }

  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  .bg-img {
    position: absolute;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100%;
    object-fit: cover;
    transform: scaleX(-1);
    z-index: -1;
    opacity: 0.3;
  }

  .alternating-link {
    font-family: "Sligoil", serif;
    --color-link-highlight: var(--color-accent-c);
  }
  .rev-alternating-link {
    font-family: "Sligoil", serif;
    --color-link-highlight: var(--color-accent-a);
  }
  .alternating-link:nth-of-type(even) {
    --color-link-highlight: var(--color-accent-a);
  }
  .rev-alternating-link:nth-of-type(even) {
    --color-link-highlight: var(--color-accent-c);
  }

  .alternating-link:hover,
  .alternating-link:focus-visible,
  .rev-alternating-link:hover,
  .rev-alternating-link:focus-visible {
    color: var(--color-link-highlight);
  }

  html,
  body {
    height: 100%;
  }
  body {
    display: flex;
    flex-direction: column;
  }
  main {
    flex: 1 0 auto;
  }
  footer {
    flex-shrink: 0;
  }

  .strikeout {
    text-decoration: line-through;
  }

  .fp-activ-grotesk,
  .fp-sligoil,
  .fp-compagnon {
    background-color: var(--color-accent-b);
    padding: 0 0.25rem;

    color: var(--color-background);
    display: inline-block;
  }
  .fp-sligoil {
    font-family: "Sligoil", serif;
  }
  .fp-compagnon {
    font-family: "Compagnon", monospace;
  }
  .fp-activ-grotesk {
    font-family: "aktiv-grotesk", sans-serif;
  }
</style>
