---
import "@acab/reset.css";
import Nav from "../sections/Nav.astro";
import Footer from "../sections/Footer.astro";
import { Image } from "astro:assets";
import bgRibbon from "../assets/bg-ribbon.png";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Basics</title>
    <link rel="stylesheet" href="https://use.typekit.net/jhu1ufw.css" />
  </head>
  <body>
    <Nav />
    <main>
      <slot />
      <img class="bg-img" src={bgRibbon.src} alt="" />
    </main>
    <Footer />
  </body>
</html>
<style is:global>
  @font-face {
    font-family: "Sligoil";
    src:
      url("/fonts/sligoil/Sligoil-Micro.woff2") format("woff2"),
      url("/fonts/sligoil/Sligoil-Micro.woff") format("woff");
  }

  :root {
    --color-background: #100d24;
    --color-accent-a: #c1fd00;
    --color-accent-b: #58bbad;
    --color-accent-c: #ff2330;
    --size-page-width: 1300px;
    --size-page-margin:2rem;
  }
  p {
    font-family: "aktiv-grotesk", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  * {
    font-family: "Sligoil", sans-serif;
  }
  html {
    font-size: 16px;
    background-color: var(--color-background);
  }

  .star-after {
    position: relative;
    display: inline-block;
    padding-right: 0.5em;
    text-decoration: inherit;
  }

  .star-after::after {
    content: "* ";
    position: absolute;
    right: 0;
    text-decoration: inherit;
  }

  .star-before {
    position: relative;
    display: inline-block;
    padding-left: 0.5em;
    text-decoration: inherit;
  }

  .star-before::before {
    content: " *";
    position: absolute;
    left: 0;
    text-decoration: inherit;
  }

  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }
  .bg-img {
    position: absolute;
    top: 0;
    right: 0;
    width: 80vw;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }
</style>
