---
import PeopleLister from "../../components/PeopleLister.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout pageTitle="Designers">
  <h1 class="big-header star-after">Designers</h1>

  <PeopleLister />
</Layout>
